services:
   api:
      build:
         context: .
         dockerfile: Dockerfile
      env_file:
         - .env
      environment:
         - GIN_MODE=release
      depends_on:
         - postgres
      restart: unless-stopped
   postgres:
      image: postgres:16-alpine
      ports:
         - "${DB_PORT}:5432"
      environment:
         - POSTGRES_USER=${DB_USER}
         - POSTGRES_PASSWORD=${DB_PASSWORD}
         - POSTGRES_DB=${DB_NAME}
      volumes:
         - postgres_data:/var/lib/postgresql/data

volumes:
   postgres_data:
