services:
   api:
      build:
         context: .
         dockerfile: Dockerfile
      env_file:
         - .env
      environment:
         - GIN_MODE=release
      depends_on:
         - postgres
      restart: unless-stopped
   postgres:
      image: postgres:16-alpine
      ports:
         - "5432:5432"
      environment:
         - POSTGRES_USER=postgres
         - POSTGRES_PASSWORD=NeEHo3rGQsiND8w
         - POSTGRES_DB=kanban
      volumes:
         - postgres_data:/var/lib/postgresql/data

volumes:
   postgres_data:
